/.nextflow
/work*
/.nextflow.log*
/deduped*
/haplotype*
/clint.sif
/workflow_output
/.mailmap
/slurm*.error
/slurm*.out
/flowchart.png
/timeline.html
/traces/*
/trace*.txt
/output
/dag*.dot
/star_index
/singularity_images
/backup
/no-commit
/.DS_store
/promoter/.DS_store
/promoter/utils/.DS_store
/promoter/informationAndData/.DS_store
/promoter/informationAndData/
promoter/informationAndData/GRCh37_promoterChrPos.bed
/promoter/output_summary/
/promoter/output_statistical_analysis/
/promoter/.nextflow/
/promoter/work/
/promoter/bin/
/promoter/rLibs/
/promoter/.vscode
/promoter/simulateInput.py
/promoter/.venv/
